<div id="board">
  <h3> Lista de eventos de {{eventsCategory}} </h3>
  <a routerLink="/">Inicio</a>
  <div>
    <div class="row">
      <div *ngFor="let event of events" class="event">
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <img src={{baseUrl}}{{event.picture}}>
            </div>
            <div class="card-content">
              <span class="card-title"><a routerLink="/event/{{event._id}}"> {{ event.title }} </a></span>
              <p> Fecha: {{ event.startDate | date: 'dd/MM/y  HH:mm' }} </p>
              <p> Lugar: {{ event.description }} </p>
              <a href='https://www.google.es/maps?q={{event.latitude}}+{{event.longitude}}' target="_blank"> Ver en Google Maps</a>
            </div>
            <div class="card-action" [ngClass]="eventsCategory">
              <div *ngIf="loggedUser && (loggedUser._id == event.userId)">
                <div class="button">
                  <button class="btn waves-effect waves-light" type="submit" name="action" (click)="editEvent(event._id)">Editar / Borrar Evento
                    <i class="material-icons right">mode_edit</i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
