#board {
  margin: 5% 4%;
}

.event {
  border: 2px solid blue;
  margin: 10px 0;
}
.info{
  display: inline-block;
  width: 79%;
}

.pic{
  width: 20%;
  display: inline-block;
}

.pic img {
  width: 95%;
}
