#board {
  margin: 5% 4%;
}

.event {
  border: 2px solid blue;
  margin: 10px 0;
}
.info{
  display: inline-block;
  width: 79%;
}

.pic{
  width: 20%;
  height: inherit;
  display: inline-block;
  margin-top: 1%;
}

.pic img {
  /*width: 95%;*/
  display: block;
  margin: auto;
  width: 90%;
}
