<h2> Add a new event </h2>
<a routerLink="/event"> Back to list </a>


<form *ngIf="currentEvent">
      <p> Event title
        <input type="text" name="title" [value]="currentEvent.title" [(ngModel)]="currentEvent.title" required />
      </p>
      <p> Category
        <input type="text" name="category" [value]="currentEvent.category" [(ngModel)]="currentEvent.category" required />
      </p>
      <p> Description
        <input type="text" name="description" [value]="currentEvent.description" [(ngModel)]="currentEvent.description" required />
      </p>
      <p>
        <input type="file" name="file" ng2FileSelect [uploader]="uploader" />
      </p>
      <button (click)="submitEdition()"> Submit </button>
</form>
