<div class="container-fluid location-form">
  <div class="row first-row">
    <input autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search />
  </div>

  <div class="row third-row">
    <div class="map-row">
      <sebm-google-map [latitude]="latitude"
                       [longitude]="longitude"
                       [zoom]="zoom"
                       [scrollwheel]="false"
                       [zoomControl]="true"
                       (mapClick)="mapClicked($event)">

            <sebm-google-map-marker [latitude]="latitude"
                                    [longitude]="longitude">
                    <sebm-google-map-info-window>
                            <strong>InfoWindow content</strong>
                    </sebm-google-map-info-window>
            </sebm-google-map-marker>


            <sebm-google-map-marker
          *ngFor="let m of markers; let i = index"
          (markerClick)="clickedMarker(m.label, i, m.lat, m.lng)"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [label]="m.label"

          [markerDraggable]="m.draggable"
          (dragEnd)="markerDragEnd(m, $event)">
          </sebm-google-map-marker>


    </sebm-google-map>
    </div>
    <div class="button-row">
        <button (click)="goBack()" class="edit-button"> Back to Categories </button>

    </div>
  </div>
</div>
