<div class="container-fluid location-form">

  <div class="container-fluid map-container">
    <div class="map-row">
      <sebm-google-map [latitude]="latitude"
                       [longitude]="longitude"
                       [zoom]="zoom"
                       [scrollwheel]="false"
                       [zoomControl]="true"
                       (mapClick)="mapClicked($event)">

            <sebm-google-map-marker [latitude]="latitude"
                                    [longitude]="longitude">
                    <sebm-google-map-info-window>
                            <strong>InfoWindow content</strong>
                    </sebm-google-map-info-window>
            </sebm-google-map-marker>


            <sebm-google-map-marker
          *ngFor="let m of markers; let i = index"
          (markerClick)="clickedMarker(m.label, i, m.lat, m.lng)"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [label]="m.label"
          [markerDraggable]="m.draggable"
          (dragEnd)="markerDragEnd(m, $event)">
            <sebm-google-map-info-window>
              <strong><a routerLink="/event/{{m.id}}">{{m.label}}</a></strong>
              <p>
              <strong>Descripcion: </strong>{{m.info}} <br>
              <strong>Inicio: </strong> {{m.start}} <br>
              <strong>Fin: </strong> {{m.end}}
            </p>
              <img style='width: 100px' src="{{m.picture}}" alt="foto">
              <br>
              <a href='https://www.google.es/maps?q={{m.lat}}+{{m.lng}}'>ver en Google Maps</a>
            </sebm-google-map-info-window>
          </sebm-google-map-marker>


    </sebm-google-map>
    </div>

    <div class="button-row">
      <button (click)="goBack()" class="btn waves-effect waves-light" type="submit" name="action">Volver a Categorías
        <i class="material-icons left">undo</i>
      </button>
    </div>

  </div>
</div>
