<h2> Add a new event </h2>
<a routerLink="/event"> Back to list </a>

<div class="form-container">
  <form>
      <div class="field"> Event title
        <input type="text" name="title" [(ngModel)]="newEvent.title" required />
      </div>
      <div class="field"> Description
        <input type="text" name="description" [(ngModel)]="newEvent.description" required />
      </div>
      <div class="field"> Category </div>
      <div class="row">
              <div class="input-field col s6">
                <select [(ngModel)]="newEvent.category" name="category" materialize="material_select" [materializeSelectOptions]="selectOptions" [attr.disabled]="isDisabled?true:null">
                  <option value="" disabled selected>Choose the category of the event</option>
                  <option value="Musica">Musica</option>
                  <option value="Poesia">Poesia</option>
                  <option value="Cine">Cine</option>
                  <option value="Teatro">Teatro</option>
                  <option value="Museos">Museos</option>
                  <option value="Deporte">Deporte</option>
                  <option value="Idiomas">Idiomas</option>
                  <option value="Naturaleza">Naturaleza</option>
                  <option value="Gastronomia">Gastronomia</option>
                </select>
              </div>
      </div>
      <div class="field">Start Date
        <input type="date" class="datepicker" materialize="pickadate" [(ngModel)]="newEvent.startDate" name="stardDate" />
      </div>
      <div class="field">Start Hour
        <input type="time" class="timepicker" [(ngModel)]="startHour" name="startHour"/>
      </div>
      <div class="field">End Date
        <input type="date" class="datepicker" materialize="pickadate" [(ngModel)]="newEvent.endDate" name="endDate"/>
      </div>
      <div class="field">End Hour
        <input type="time" class="timepicker" [(ngModel)]="endHour" name="endHour"/>
      </div>
      <div class="field">
        <input type="file" class="form-control" name="file" [(ngModel)]="newEvent.picture" ng2FileSelect [uploader]="uploader" />
      </div>

      <button type="button" (click)="submit()"> Submit </button>
  </form>
</div>
