
  <h1>LOGIN</h1>
<div *ngIf="(!user)" class="signup_container">
  <form action="">

    <div class="field">
      Username:
      <input [(ngModel)]="formInfo.username" name="username" type="text" placeholder="username"/>
    </div>

    <div class="field">
      Password:
      <input [(ngModel)]="formInfo.password"name="password" type="password" placeholder="password"/>
    </div>

    <div class="button">
      <button (click)="login()"> Log In </button>
    </div>

  </form>
  <p class="error"> {{ error }} </p>
</div>

<div *ngIf="(user)" class="signup_container">Estas logeado como {{user.username}}</div>
