<div *ngIf="loggedUser">
<div id="board">
  <h2>Perfil de {{this.loggedUser.username}}</h2>

  <div class="row">
    <div class="col s6">
      <h5>Username: {{ this.loggedUser.username }}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <h5>Rol: {{ this.loggedUser.role }}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <h5>E-mail: {{ this.loggedUser.email }}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col s10">
      <h5>Descripción: {{ this.loggedUser.description }}</h5>
    </div>
  </div>
  <button (click)="editUser()">Editar Perfil de Usuario</button>
</div>
</div>
