#ev-board {
  margin: 5% 4%;
}

#title {
  height: auto;
  border: 2px solid black;
  text-align: center;
  margin: 1%;
}

.ev-info {
  height: auto;
  text-align: center;
  margin: 1%;
}



@media (min-width: 1024px) {
  .pict {
    height: 500px;
    width: 80%;
  }
}

@media (min-width: 450px) and (max-width: 1024px) {
  .pict {
    height: 300px;
    width: 80%;
  }
}

@media (max-width: 450px) {
  .pict {
    height: 200px;
    width: 100%;
  }
}
