<nav class="navbar sticky-top navbar-light navbar-custom bg-faded navbar-toggleable-md">
  <a class="navbar-brand" [routerLink]="['/']"> LIBERI </a>

<div>
  <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Menu</a>
  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a [routerLink]="['/map/now']">Today!</a></li>
    <li *ngIf="loggedUser"><a [routerLink]="['/add']">Add new event</a></li>
    <li *ngIf="loggedUser"><a [routerLink]="['/api/user/edit']">Edit profile</a></li>
    <li class="divider"></li>
    <li *ngIf="loggedUser"><a class="linked" (click)="logout()">Logout</a></li>
    <li *ngIf="!loggedUser"><a [routerLink]="['/login']">Login</a></li>
    <li *ngIf="!loggedUser"><a [routerLink]="['/signup']">Signup</a></li>

  </ul>
</div>
<div>
  <p *ngIf="loggedUser">Hello {{loggedUser.username}}! </p>
</div>
</nav>
